!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Mütli Corp.

    %script{src: "//use.typekit.com/#{ENV['TYPEKIT']}.js"}
    :javascript
      try{Typekit.load();}catch(e){}

    :css
      * { margin: 0; padding: 0; }
      html {
        color: white;
        font: 500 18px/24px "futura-pt-1", "futura-pt-2", Helvetica, Arial, sans-serif;
      }

      html.blue { background-color: #06C; }
      html.red { background-color: #F34; }
      html.green { background-color: #5C2; }
      html.yellow { background-color: #FD0; }

      body, html {
        height: 100%;
      }

      #wrapper {
        position: relative;
        height: 100%;
        width: 480px;
        margin: 0 auto;
      }

      .vcard {
        position: absolute;
        top: 50%; left: 0; right: 0;
        margin-top: -92px;

        text-align: center;
      }

      h1 {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        margin: 0;
      }

      h2 {
        font-size: 18px;
        color: rgba(255,255,255, 0.8);
        margin-bottom: 48px;
      }

      a {
        color: white; text-decoration: none;
      }

      .adr {
        color: rgba(0, 0, 0, 0.2);
        line-height: 20px;
        font-weight: 600;
      }

      .email,
      .country-name {
        display: none;
      }

  %body
    #wrapper
      .vcard
        %h1.org
          %a.url{href: '/'} Mütli Corp.

        %h2
          (We make
          %a{href: 'https://minefold.com', title: 'Minefold'} Minefold
          &amp;
          %a{href: 'http://partycloud.com', title: 'Minefold'} The Party Cloud
          for fun)

        %a.email{href: 'mailto:team@mutlicorp.com'} team@multicorp.com
        .adr
          %span.street-address> Suite 101, 270 Linden St.
          %br
          %span.locality> San Francisco
          ,&nbsp;
          %span.region> California
          ,&nbsp;
          %span.postal-code> 94102
          %span.country-name United States


  :javascript
    var colors = ['blue', 'red', 'green', 'yellow'],
             n = Math.floor(colors.length * Math.random()),
         color = colors[n];

    document.documentElement.className += (' ' + color);

  - if production?
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fceb813613f5d1d74000028');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
